/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2016, 8:41:14 PM
    Author     : Thierno
*/

.progress_bar > .bar{
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%);
}

.progress_pie {
    -fx-progress-color:#ff33cc;
}

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #ff6633;
    -fx-background-radius: 5.0;
    -fx-padding: 30;
    -fx-spacing: 30;
    -fx-border-width: 3px;
    -fx-border-color: #cc0000;
}
.bordered_pane2 {
    -fx-background-color: #ff6633;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #cc0000;
}
// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}
// Raised Box
.raisedbox { 
    padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -10px 10px  #003366,
        -2px 20px #77aaff,
        -3px 30px #77aaff,
        -4px 40px #77aaff,
        -5px 50px #77aaff;
}
.dark-blue {
    -fx-background-color: #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 3,1,0,3;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
}
.dark-blue:hover{
    -fx-background-color: #cccccc;  
    -fx-text-fill:#000099;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.rich-blue {
    -fx-background-color: #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    
    
}